.bg-seac{
    background-color: #38B5AD
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #38B5AD;
    border-color: #38B5AD;
  }

  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  .link-primary {
    color: #0d6efd;
  }

  .border-primary {
    border-color: #0d6efd !important;
  }